/* TaskList.css */

.task-list {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

.input-task {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-edit {
  width: 60%;
  padding: 5px;
}

.btn-save,
.btn-edit,
.btn-delete {
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.btnadd {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
}

.btnadd:hover {
  background-color: #0056b3;
}

.ul-list {
  flex: 1;
}

.btn-edit,
.btn-delete {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-edit:hover,
.btn-delete:hover {
  background-color: #0056b3;
}
